/* Customise CSS when screen size over 500 pixels */

h1 {
    font: 300 3em "Lato", sans-serif;
}

h2 {
    font: 300 3em "Lato", sans-serif;
    color: #bcbbbb;
}

h3 {
    font: 400 1.5em "Lato", sans-serif;
}

/* Increase the default font size for all a tags within the project class when screen is over 500 pixels wide*/
.project-a {
    font-size: 1.4em;
}

/* Increase the default font size for all paragraphs within the project class when screen is over 500 pixels wide*/
.project-p {
    font-size: 2em;
    color: #747704;
}

