body {
    font-family: 'Lato', sans-serif;
    color: #747704;
}

h1{
    font-weight: 300;
    font-size: 1.8em;
}

h2 {
    font-weight: 300;
    font-size: 1.8em;
    color: #BCBBBB;
}

h3{
    font-weight: 400;
    font-size: 1.2em;
}

.logo{
    padding-top: 2em;
}

img, embed {
    max-width: 100%;
}

.project a {
    font-size: 1em;
}

.project p {
    font-size: 1.4em;
    color: #747704;
}