body {
    font-family: 'Lato', sans-serif;
    color: #747704;
}

hr {
    border: 2px solid #BCBBBB;  
}

h1 {
    font-weight: 300;
    font-size: 1.8em;
}

h2 {
    font-weight: 300;
    font-size: 1.8em;
    color: #BCBBBB;
}

h3 {
    font-weight: 400;
    font-size: 1.2em;
}

.logo {
    padding-top: 2em;
}

img, embed {
    max-width: 100%;
}

/* Set the default font size for all a tags within the project class */
.project a {
    font-size: 1em;
}

/* Set the default font size for all paragraphs within the project class */
.project p {
    font-size: 1.4em;
    color: #747704;
}